@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
}

.padding {
  height: 30px;
}

body {
 background-image: url('/res/background.jpeg');
 background-repeat: no-repeat;
 background-size: 100%;
 background-color: #fbfcf7;
 background-attachment: fixed;
 background-position: bottom center;
 padding: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

a {
  margin: 5px;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #623412;
}

/* visited link */
a:visited {
  color: #623412;
}

/* mouse over link */
a:hover {
  color: #623412;
  cursor: pointer;
}

/* selected link */
a:active {
  color: #623412;
}

.profile-picture {
  width: 40%;
  border-radius: 100%;
  opacity: 100%;
}

.name {
  font-weight: 800;
  font-size: 35px;
  padding: 10px;
}

.bio {
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}

.social {
  padding: 10px;
}

.c-heading {
  font-weight: 800;
  font-size: 20px;
  padding-top: 10px;
  margin: 20px;
}

.c-text {
  font-size: 25px;
  font-weight: 400;
  padding: 10px;
}

.t-sub {
  margin-top: 3px;
  color: #623412;
}

.b-link {
  padding: 5px;
  margin: 5px;
  color: #623412;
  font-size: 20px;
  font-weight: 400;
}

.box {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 20px;
}



.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 3fr 3fr 3fr 3fr .2fr;
  grid-template-areas: 
  "top"
  "sidebar"
  "c1"
  "c2"
  "c3"
  "c4"
  "bottom";
}

.top {
  background-color: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  text-align: center;
  
  border-radius: 20px;
  grid-area: top;
}

.sidebar {
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  grid-area: sidebar;
}

.c1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 20px;
  grid-area: c1;
}
.c2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 20px;
  grid-area: c2;
}
.c3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 20px;
  grid-area: c3;
}
.c4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 20px;
  grid-area: c4;
}

.bottom {
  background-color: rgba(255,255,255,0.6);
  
  padding: 10px;
  border-radius: 20px;
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-area: bottom;
}

@media only screen and (min-width: 992px) 
{
  /* For desktop: */
  
.bio {
  font-weight: 300;
  font-size: 40px;
  padding: 10px;
}

.name {
  font-weight: 800;
  font-size: 60px;
  padding: 10px;
}

.social {
  padding: 30px;
  font-size: 30px;
}

  
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr 6fr 1fr;
  grid-template-areas: 
  "top top top"
  "sidebar c1 c2"
  "sidebar c3 c4"
  "sidebar bottom bottom"
}

.top {
  background-color: rgba(255,255,255,0.6);
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  grid-area: top;
}

.sidebar {
  padding: 50px;
  background-color: rgba(255,255,255,0.6);
  
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-area: sidebar;
}

.c1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  grid-area: c1;
}
.c2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  grid-area: c2;
}
.c3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  grid-area: c3;
}
.c4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  grid-area: c4;
}

.bottom {
  background-color: rgba(255,255,255,0.6);
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  grid-area: bottom;
}
  
}
