@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
}

body {
 background-image: url('/res/background.jpeg');
 background-repeat: no-repeat;
 background-size: 100%;
 background-color: #fbfcf7;
 background-attachment: fixed;
 background-position: bottom center;
}

a {
  margin: 5px;
}
/* unvisited link */
a:link {
  color: #623412;
}

/* visited link */
a:visited {
  color: #623412;
}

/* mouse over link */
a:hover {
  color: #623412;
}

/* selected link */
a:active {
  color: #623412;
}

.container {
  margin: auto;
  text-align: center;
  padding: 20px;
}
.profile {
  width: 30%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.username {
  font-size: 30px;
  color: Black;
  margin: 20px;
  font-weight: 800;
}
.bio {
  font-size: 20px;
  color: grey;
  margin: 20px;
}

.social{
  text-align: center;
  margin: 20px;
}

.c1 {
  background-color: white;
  opacity: 60%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  width: 90%;
  height: auto;
}

.heading {
  font-size: 20px;
  color: black;
  padding: 20px;
  font-weight: 700;
}