@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
}

body {
 background-image: url('/res/background.jpeg');
 background-repeat: no-repeat;
 background-size: 100%;
 background-color: #fbfcf7;
 background-attachment: fixed;
 background-position: bottom center;
 padding: 20px;
}

a {
  margin: 5px;
}
/* unvisited link */
a:link {
  color: #623412;
}

/* visited link */
a:visited {
  color: #623412;
}

/* mouse over link */
a:hover {
  color: #623412;
}

/* selected link */
a:active {
  color: #623412;
}

.profile-picture {
  width: 30%;
  border-radius: 100%;
}

.name {
  font-weight: 800;
  font-size: 30px;
  padding: 10px;
}

.bio {
  font-weight: 300;
  padding: 10px;
}

.social {
  padding: 10px;
}

.c-heading {
  font-weight: 800;
  font-size: 20px;
  padding: 10px;
}

.c-text {
  font-weight: 400;
  padding: 10px;
}



.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-areas: 
  "top"
  "sidebar"
  "c1"
  "c2"
  "c3"
  "c4"
  "bottom";
}

.top {
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: top;
}

.sidebar {
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  grid-area: sidebar;
}

.c1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c1;
}
.c2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c2;
}
.c3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c3;
}
.c4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c4;
}

.bottom {
  background-color: white;
  opacity: 60%;
  padding: 20px;
  border-radius: 20px;
  grid-area: bottom;
}

@media only screen and (min-width: 768px) 
{
  /* For desktop: */
  
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-areas: 
  "top top top"
  "sidebar c1 c2"
  "sidebar c3 c4"
  "sidebar bottom bottom"
}

.top {
  background-color: white;
  margin: 10px;
  padding: 10px;
  opacity: 60%;
  border-radius: 20px;
  grid-area: top;
}

.sidebar {
  padding: 10px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: sidebar;
}

.c1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c1;
}
.c2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c2;
}
.c3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c3;
}
.c4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  opacity: 60%;
  border-radius: 20px;
  grid-area: c4;
}

.bottom {
  background-color: white;
  opacity: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-area: bottom;
}
  
}