@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-areas: "c1 c1 c1";
}

.profile {
  border: 55px;
  border-color: #163152;
  border-radius: 50%;
  padding: 1px;
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.name {
  text-align: center;
  font-size: 1.5rem;
}

.subtext {
  text-align: center;
  font-size: 15px;
}

.links {
  text-align: center;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #163152;
}

.c1 {
  grid-area: c1;
  align-items: center;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.number {
  font-size: 40px;
  text-align: center;
}